body {
background-image: url(Copilot_20251005_173530.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.contenedor2 {
margin: 50px auto;
display: block;
padding: 10px;
border-radius: 10px  rgb(0, 148, 0);
box-shadow: 10px 10px 10px 10px rgb(232, 248, 2);
background-color: rgba(235, 233, 233, 0.795);
width: 500px;
height: 510px;
border-top-right-radius: 100px;

}

#bucarp {
display: block;
margin-top: -700px;
border-radius: 30px;
box-shadow: 100px rgb(250, 246, 2);
padding: 12px;
border: 1px solid #ccc;
margin-left: 1300px;
}

#bucarp{
border: 2px solid #0ff;
background: black;
color: #0ff;
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
box-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
display: block;
}



#imag {
display: block;
margin-top: -800px;
padding: 1px;
width: 500px;


}

.dato1 {
margin-top: 100px;


}

.text {
display: block;
margin-left: 150px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: auto;
}

.id2 {
display: block;
margin-left: 140px;
font-variant: small-caps;
margin-top: -20px;
}

.ocupation {
display: block;
margin-left: 10px;
font-family: 'Courier New', Courier, monospace;
margin-top: -20px;
}

.gender {
display: block;
margin-left: 150px;
margin-top: -20px;
}

.age2 {
display: block;
margin-left: 170px;
margin-top: -20px;
}

.status1{
display: block;
margin-left: 220px;

}

.birthdate {
display: block;
margin-left: 100px;



}

.boton-dinamico {
background-color: #eeff00;
color: rgb(3, 3, 3);
padding: 10px 20px;
border-radius: 8px;
border: none;
cursor: pointer;
transition: transform 0.5s ease;
margin-left: 1310px;
}

.boton-dinamico:hover {
  transform: scale(1.1);
}

